body{
    background-image: linear-gradient(180deg, rgb(163, 163, 163) , rgba(9, 20, 70, 0.806));

}
/* banner format */
header {
    background-image: linear-gradient(to right, rgb(91, 82, 220) , rgb(42, 26, 80));
    border-radius: 60px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(75, 46, 75, 0.789);
}
/* font in banner */
h1 {
    color: white;
    display: flex;
    font-size: 50px;
}
h3 {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 70%;
    margin-left: 15%;
}
/* container divs for search div, current weather div, and 5 day forecast div */
#container{
    display: flex;
}
.style {
    background-color: rgba(179, 178, 178, 0.654);
    border-radius: 70px;
    border: 5px solid black;
    box-shadow: 15px 15px 25px rgba(68, 68, 68, 0.575);

}
/* styles search section */
#searchArea {
    height: 820px;
    width: 20%;
    margin: 20px;
}
/* styles search bar section */
.searchBar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15px;
}

#city-list  {
    display: flex;
    flex-direction: column;
}

p {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
button{
    margin-top: 5px;
}
/* styles forecast section */

#forecast {
    height: 420px;
    width: 80%;
    margin: 10px;

}
#current {
    height: 400px;
    margin: 10px;

}
/* styles 5 day forecast section */

#fiver {
    height: 400px;
    margin: 10px;

}
aside{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
}
.days {
    border: 3px solid black;
    border-radius: 20px;
    width: 15%;
    background-color: rgb(193, 193, 193);
    box-shadow: 20px 20px 30px rgba(2, 2, 2, 0.240);

}

#currentWeather {
    border: 3px solid black;
    border-radius: 20px;
    height: 300px;
    width: 33%;
    margin-left: 63px;
    background-color: rgb(193, 193, 193);
    box-shadow: 20px 20px 30px rgba(2, 2, 2, 0.240);

}
.titles {
    margin-left: 63px;
}